.graduate-visa-1-img-heading {
    background: url('../../../imgs/migration-page/graduate-visa-1.jpg');
    background-color: rgba(0, 0, 0, 0.196);
    height: 1000px !important;
    background-size: cover;     // Makes sure the image covers the entire area
    background-position: center; // Centers the background image
}
